.info_ {
  position: relative;
  background-color: #f4f1e5 ;
  border-radius: 17px;
  width: 550px;
  z-index: 1;
  float:right;
  opacity: 0.8;
  margin: 40px 0; 
  border: 1px solid #cbddef;
  margin-bottom: 125px;
 }
 .s_tittle {
  border-bottom: 2px solid #7eb9be;
  padding:0 20px;
 }
 
.label_notice{
  
  font-size: 14;
  color: #777777;
}

.label_info{
  font-style: 14;
  color: #a2a3a1;
  float: left;
  margin: 0 5px auto;
}
.label_ul{
  margin: 5px 10px 5px;
  padding: 5px 20px 10px;
}

.ul_pass {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


.ul_pass li {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 15px 20px 30px;
  margin: 5px 0;
  text-align: left;
  height: 36px;
  border-bottom: 1px solid #7eb9be;
}
.form-input{
  color: black;
  border-radius: 5px;
  opacity: 0.8;
}
.btn-sub{
border-radius: 5px;
margin: 20px;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block; 
    clear: both;
  }

  a {
    text-decoration: none;
    }


